*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  background-color: #ffffff;
  color: $text-black-5;
  line-height: 25px;
  font-style: normal;
  font-size: 15px;
  margin: 0;
  padding: 0;
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  font-family: inherit;
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  line-height: 1.126em;
  color: $text-black-3;
}

h1 {
  font-size: 2.133em;
}

h3 {
  font-size: 1.6em;
  margin: 33px 0 25px;
}

blockquote {
  color: $text-black-3;
  min-height: 40px;
  padding: 2px 20px 2px 37px;
  position: relative;
  vertical-align: middle;
  border: none;
  font-weight: 700;
  margin: 2.666rem 0;

  &::before {
    bottom: 5px;
    content: " ";
    display: block;
    left: 0;
    position: absolute;
    top: 5px;
    width: 2px;
    background-color: #285fdb;
  }
}

.font-small {
  font-size: 0.867em;
  line-height: 1.692em;
}
.font-medium {
  font-size: 1.0667em;
  line-height: 1.5625em;
}
.font-large {
  font-size: 1.3333em;
  line-height: 1.4em;
}
.font-upper {
  font-size: 0.667em;
  line-height: 1.3em;
  text-transform: uppercase;
  letter-spacing: 0.8px;
}

.page-content {
  width: calc(100% - 284px);
  @media (max-width: $tablet-width) {
    width: 100%;
  }
}

.app-layout {
  position: relative;
}

.v-application {
  font-family: "Montserrat", "Arial", sans-serif !important;
  color: $text-black-5 !important;
  line-height: 25px !important;
}

.v-application p {
  margin: 1.666rem 0;
  &:first-of-type {
    margin-top: 0;
  }
}

.v-application a {
  color: inherit;

  &:hover {
    color: $text-link-hover;
  }
}

.v-overlay__scrim {
  height: 100vh !important;
}


.app__carousel-icon {
  width: 100%;
  height: 100%;
}
.app__carousel-btns {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 3px;
  &:hover {
    color: #ffffff;
    background-color: $text-link-hover;
  }
  &--prev {
    .app__carousel-icon {
      transform: rotate(-90deg) translateY(5px);
    }
  }
  &--next {
    .app__carousel-icon {
      transform: rotate(90deg) translateY(5px);
    }
  }
}
