*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  background-color: #ffffff;
  color: $dark;
  font-style: normal;
  font-size: 15px;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  font-family: inherit;
  text-decoration: none;
  color: inherit;
}
