// TODO: serch values in vars and place
$text-black-2: #222222;
$text-black-3: #333333;
$text-black-5: #555555;
$text-black-6: #666666;
$text-black-9: #999999;
$text-link-hover: #365edc;
$border: 1px solid #ececec;
$max-width: 1408px;
// TODO mobile = tablet?
$mobile-width: 375px;
$tablet-width: 768px;