// TODO: serch values in vars and place
$text-black-3: #333333;
$text-black-5: #555555;
$text-link-hover: #365edc;
$border: 1px solid #ececec;
$max-width: 1408px;
$mobile-width: 100px;
$tablet-width: 768px;